@font-face {
    font-family: 'loveloB';
    src: url('../assets/font/Lovelo-Black.ttf');
}

@font-face {
    font-family: 'timer';
    src: url('../assets/font/16Segments-Basic.otf');
}
body{
    background-image: url(https://wallpapercave.com/wp/wp6736830.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
}
div#errorDiv{
    color: red;
    font-weight: bold;
}
div#root{
    background-color: rgb(35, 206, 107);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(128, 93, 147);
    padding: 25px;
    box-shadow: 0px 0px 15px 2px rgb(24, 143, 167);
}

img#rickStart{
    width: 300px;
    height: auto;
    fill-opacity: 1;
    margin-bottom: -2px;
    animation-duration: 5s;
    animation-name: slideOverTitle;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes slideOverTitle {
  from {
    margin-left: 400px;
    
  }

   to {
    margin-right: 400px;
    
  }
}


div#title{
    font-size: 50px;
    padding: 0px 15px;
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 10px;
    color: rgb(22, 152, 115);
    background-color: rgb(204, 251, 254);
    border-color: rgb(128, 93, 147);
    box-shadow: 0px 0px 15px 2px rgb(24, 143, 167);
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    text-align: center; 
}

div#buttonsStart{
    display: flex;
    justify-content: space-evenly;
}

#buttonsStart button{
    width: 400px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(22, 152, 115);
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    opacity: 0.75;
    margin: 15px 0px;
}

div#play{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 15px 0px; 
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    background-color:rgb(22, 152, 115);;
    border-color: rgb(128, 93, 147);
    box-shadow: 0px 0px 15px 1px rgb(24, 143, 167);
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    align-items: center;
}
div#play input{
    font-size: 20px;
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    border-radius: 3px;    

}
#playerName::placeholder{
    color: black;
    text-align: center;
}
div#buttonsMode{
    display: flex;
    justify-content: space-between;
}

div#buttonsMode button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin: 0px 7px;
    opacity: 0.75;
    background-color: rgb(24, 143, 167);
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#buttonsStart button:hover, #buttonsMode button:hover{
    opacity: 1;
}

div#pregunta{
    display: none;
    flex-direction: column;
    align-items: center;
}

#divTimer{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 50px;
    color: hsla(0, 0%, 0%, 0.9);
    font-weight: bolder;
    font-family: timer, Geneva, Tahoma, sans-serif;

}
div#cuadroPregunta{
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(128, 93, 147);
    box-shadow: 0px 0px 15px 1px rgb(24, 143, 167);
    background-color: rgb(24, 143, 167);
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: justify;
}

img#questionRick{
    width: 190px;
    height: auto;
    margin: -15px -15px -15px -30px;
}

div#options{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px;
    
    border-radius: 10px;
    text-align: center;
}

div.optionsPair{
    display: flex;
    flex-direction: column;
}
div#options label{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 175px;
    margin: 15px 0px;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 0px 0px 15px 1px rgb(24, 143, 167);
    border-color: rgb(204, 251, 254);
    opacity: 0.9;
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    padding-top:auto;
    justify-content: center;
    cursor: pointer;
}

#optionALabel{
    background-color: brown;
}
#optionBLabel{
    background-color:goldenrod;
}
#optionCLabel{
    background-color:mediumslateblue;
}
#optionDLabel{
    background-color:olivedrab;
}
div#options input{
    display: flex;
    appearance: none;
    visibility: hidden;
    border-radius: 5px;
    width: 90%;
    height: 5px;
    margin: 0px auto;    
}

div#options input:checked {
    background-color: rgb(204, 251, 254);
    visibility: visible;
}

div#pregunta button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    opacity: 0.75;
    background-color: rgb(24, 143, 167);
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
div#pregunta button:hover{
    opacity: 1;
}

