@font-face {
    font-family: 'loveloB';
    src: url('../assets/font/Lovelo-Black.ttf');
}
@font-face {
    font-family: 'timer';
    src: url('../assets/font/16Segments-Basic.otf');
}

body{
    background-image: url(https://wallpapercave.com/wp/wp6736830.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
}
div#root{
    background-color: rgb(35, 206, 107);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(128, 93, 147);
    padding: 25px;
    box-shadow: 0px 0px 15px 2px rgb(24, 143, 167);
}

img#rickStart{
    width: 300px;
    height: auto;
    fill-opacity: 1;
    margin-bottom: -2px;
    animation-duration: 5s;
    animation-name: slideOverTitle;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes slideOverTitle {
  from {
    margin-left: 400px;
    
  }

   to {
    margin-right: 400px;
    
  }
}


div#title{
    font-size: 50px;
    padding: 0px 15px;
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 10px;
    color: rgb(22, 152, 115);
    background-color: rgb(204, 251, 254);
    border-color: rgb(128, 93, 147);
    box-shadow: 0px 0px 15px 2px rgb(24, 143, 167);
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    text-align: center; 
}

div#buttonsStart{
    display: flex;
    justify-content: space-evenly;
}

.other_buttons{
    width: 200px;
    height: 60px;
    border-radius: 5px;
    margin: 0px 7px;
    opacity: 0.75;
    background-color: rgb(24, 143, 167);
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    font-size: 20px; 
}
.start_buttons{
    width: 400px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(22, 152, 115);
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    opacity: 0.75;
    margin: 15px 0px;
}

div#play{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 15px 0px; 
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    background-color:rgb(22, 152, 115);;
    border-color: rgb(128, 93, 147);
    box-shadow: 0px 0px 15px 1px rgb(24, 143, 167);
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    align-items: center;
    text-align: center;
}
div#play input{
    font-size: 20px;
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    border-radius: 3px;    

}
#play input::placeholder{
    color: black;
    text-align: center;
}
div#buttonsMode{
    display: flex;
    justify-content: space-between;
}


.start_buttons:hover, .other_buttons:hover{
    opacity: 1;
}

div.small_title{
    font-size: 35px;
    padding: 0px 150px;
    margin: 10px 10px;    
    border-style: solid;
    border-radius: 10px;
    color: rgb(22, 152, 115);
    background-color: rgb(204, 251, 254);
    border-color: rgb(128, 93, 147);
    box-shadow: 0px 0px 15px 2px rgb(24, 143, 167);
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    text-align: center; 
}
.link_title:visited, .link_title:link, .link_title:active{
    color: rgb(22, 152, 115);
    text-decoration:none;

}


div.divSignUp{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    margin: 20px 0px;
    padding: 20px 150px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(128, 93, 147);
    box-shadow: 0px 0px 15px 1px rgb(24, 143, 167);
    background-color: rgb(24, 143, 167);
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: justify;

}
div.divSignUp input{
    font-size: 20px;
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    border-radius: 3px;
}
div.divSignUp input::placeholder{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
div#div_clasificaciones{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    padding: 20px 10px; 
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    background-color:rgb(22, 152, 115);;
    border-color: rgb(128, 93, 147);
    box-shadow: 0px 0px 15px 1px rgb(24, 143, 167);
    font-family: loveloB, Geneva, Tahoma, sans-serif;
}
#container_tarjetas{
    display: flex;
    flex-direction: column;    
    align-items: center;
    overflow-y: scroll;
    overflow-x:hidden;
    font-size: 20px;
    width: 90%;
    height: 400px;
    padding: 5px 10px 5px 10px;
    margin: 10px 0px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(128, 93, 147);
    color: rgb(22, 152, 115);
    background-color: rgb(204, 251, 254);
    box-shadow: 0px 0px 15px 2px rgb(24, 143, 167);
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#container_tarjetas::-webkit-scrollbar{
    display: none;
}


div.tarjeta_puntuacion{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 99.5%;
    padding: 1px;
    margin: 0.5% 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(128, 93, 147);
    box-shadow: 0px 0px 15px 2px rgb(24, 143, 167);
    background-color: rgb(35, 206, 107);
    color: black;
    opacity: 0.9;
    
}
div.tarjeta_puntuacion div{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
div.ranking_num{    
    height: 70%;
    width: 10%;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    margin: 5px;
    background-color:rgb(22, 152, 115);;
    border-color: rgb(128, 93, 147);
    box-shadow: 0px 0px 15px 1px rgb(24, 143, 167);
    font-size: 25px;
    font-weight: bolder;
}
div#tarjeta_name,div#tarjeta_score{
    margin: 0px 5px;
    color: rgba(204, 251, 254, 0.972);
}
div#tarjeta_date{
    margin: 0px 10px;
}


div#pregunta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divTimer{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 50px;
    color: hsla(0, 0%, 0%, 0.9);
    font-weight: bolder;
    font-family: timer, Geneva, Tahoma, sans-serif;

}
div#cuadroPregunta{
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(128, 93, 147);
    box-shadow: 0px 0px 15px 1px rgb(24, 143, 167);
    background-color: rgb(24, 143, 167);
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: justify;
}


img#questionRick{
    width: 190px;
    height: auto;
    margin: -15px -15px -15px -30px;
}

div#options{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px;
    
    border-radius: 10px;
    text-align: center;
}

div.optionsPair{
    display: flex;
    flex-direction: column;
}
div#options label{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 175px;
    margin: 15px 0px;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 0px 0px 15px 1px rgb(24, 143, 167);
    border-color: rgb(204, 251, 254);
    opacity: 0.9;
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    padding-top:auto;
    justify-content: center;
    cursor: pointer;
}

#optionALabel{
    background-color: brown;
}
#optionBLabel{
    background-color:goldenrod;
}
#optionCLabel{
    background-color:mediumslateblue;
}
#optionDLabel{
    background-color:olivedrab;
}
div#options input{
    display: flex;
    appearance: none;
    visibility: hidden;
    border-radius: 5px;
    width: 90%;
    height: 5px;
    margin: 0px auto;    
}

div#options input:checked {
    background-color: rgb(204, 251, 254);
    visibility: visible;
}


div#pregunta button:hover{
    opacity: 1;
}

div#respBM__container{
    
    display: flex;
    
    align-items: center;
}

div#parrafBM__container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
}
p#parrafoBM{
    font-size: 25px;
}

button#siguientePregunta:hover{
    opacity: 1;
}
div#imgBM__container{
    height: fit-content;
    padding: 0px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(128, 93, 147);
    box-shadow: 0px 0px 15px 1px rgb(24, 143, 167);
    background-color: rgb(24, 143, 167);
    margin: 10px 50px;

}
img.imgBM{
    height: 500px;
    margin: 0px 0px -6px;
    border-radius: 10px;
    border-bottom: solid;
    border-color: rgb(128, 93, 147);
}
#errorDiv{
    color: red;
}

/* DIV CLASIFICACIONES INDIVIDUALES */

#titleClassifications{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    max-height: 70px;
}

#totalCorrectQuestions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    max-height: 70px;
}

#totalIncorrectQuestions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

#individualClassifications img{
    max-width: 40px;
    margin-right: 10px;
}

#individualClassifications p{
    margin-top: 40px;
}

#button_individualClassifications{
    font-family: loveloB, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 0 auto;
    display: block;
}